@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - box
//

.#{$sb-prefix}box {
	margin: 1.5em 0 0 0;
	padding: 1em 0.8em 0.8em;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.#{$sb-prefix}box_A01 {
	border: 3px solid $sb-color-border;
}

.#{$sb-prefix}box_C01 {
	border: 1px solid $sb-color-border;
}

.#{$sb-prefix}box-heading {
	margin: 0 0 0.5em 0;
	padding: 0;
	font-size: 1.2em;

	.#{$sb-prefix}box_C01 & {
		font-size: 1em;
	}

	& + * {
		margin-top: 0;
	}
}
