@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - figureFloat
//

.#{$sb-prefix}figureFloat {
	@include sb-clearfix();
	margin: 1em 0;
	padding: 0;
}

.#{$sb-prefix}figureFloat-figure {
	margin-bottom: 1em;
	padding-top: 0.25em;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	.#{$sb-prefix}figureFloat_left & {
		float: left;
		margin-right: 20px;
	}

	.#{$sb-prefix}figureFloat_right & {
		float: right;
		margin-left: 20px;
	}
}

.#{$sb-prefix}figureFloat-description {

	> *:first-child {
		margin-top: 0;
	}
}
