@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - name
//

.#{$sb-prefix}form-name {
	margin: 0;

	> dt {
		display: inline-block;
		width: 2em;
		margin: 0 5px 0 0;
		font-weight: normal;
	}

	> dd {
		display: inline;
		margin: 0 10px 0 0;

		input.#{$sb-prefix}form-text {
			width: 15em;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.#{$sb-prefix}form-name_typeNoLabel {
	> dt {
		display: none;
	}
}

.#{$sb-prefix}form-name-first {
}

.#{$sb-prefix}form-name-last {
}
