@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - form-required
//

.#{$sb-prefix}form-required {
	float: right;
	margin: 0 10px 0 0;
	padding: 3px 5px;
	color: #fff;
	background-color: #999;
	font-size: (14 / 16) * 1em;
	font-weight: normal;
	font-style: normal;
}
