@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - textareaCounter
//

.#{$sb-prefix}form-textareaCounter {
}

.#{$sb-prefix}form-textareaCounter-num {
	display: block;
	margin: 3px 0 0;
	font-size: (14 / 16) * 1em;
	text-align: right;

	.#{$sb-prefix}form-textareaCounter_isOver & {
		color: $sb-color-danger;
	}
}
