@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - noteList
//

.#{$sb-prefix}noteList {
	@extend %sb-nestableList;
	margin: 1em 0 1.5em 1em;
	padding: 0;

	> li {
		position: relative;
		margin: 0.5em 0;
		padding: 0;
		list-style-type: none;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.#{$sb-prefix}noteList_A01 {
}

.#{$sb-prefix}noteList_A02 {
	margin-left: 2em;
}

.#{$sb-prefix}noteList_A03 {
	margin-left: 4em;
}

.#{$sb-prefix}noteList-marker {
	position: absolute;
	left: -1em;
	width: 1em;

	.#{$sb-prefix}noteList_A02 & {
		left: -2em;
		width: 2em;
	}

	.#{$sb-prefix}noteList_A03 & {
		left: -4em;
		width: 4em;
	}
}
