@charset "UTF-8";

// ======================================================
// 基本スタイル
// ------------------------------------------------------
// - 各 HTML タグに対するスタイルを記述する。
// - ウェブサイト全体を通して各タグに対する「基本的にあるべき」見ためを表現するようにする。
// ------------------------------------------------------

body {
  word-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $necobase-color-link-link;

  &:hover,
  &:focus {
    color: $necobase-color-link-hover;
  }

  &:active {
    color: $necobase-color-link-active;
  }
}

em {
  font-weight: bold;
  font-style: normal;
}

strong {
  color: $necobase-color-emphasis;
  font-weight: bold;
}

::selection {
  background: $necomesi-color-selection-bg;
  color: $necomesi-color-selection-text;
}
