@charset "UTF-8";

// ======================================================
//
//   変数集
//
// ======================================================


// ======================================================
// 各標準ブロックの頭につく接頭辞
// ------------------------------------------------------

$sb-prefix: "necobase-sb-";


// ======================================================
// 色
// ------------------------------------------------------

// ------------------------------------------------------
// 機能を抽象化した色表現
//

// プライマリカラー。サイトのシンボルとなる色を指定するといい。
$sb-color-primary : $necobase-color-primary;
// 強調
$sb-color-emphasis: $necobase-color-emphasis;
// 成功
$sb-color-success : $necobase-color-success;
// 通知
$sb-color-info    : $necobase-color-info;
// 警告
$sb-color-warning : $necobase-color-warning;
// ヤバい
$sb-color-danger  : $necobase-color-danger;

// ------------------------------------------------------
// 前景色
//

// 通常テキスト色
$sb-color-text       : $necobase-color-text;
// 薄いテキスト色
$sb-color-text-sub   : $necobase-color-text-sub;
// ボーダー
$sb-color-border     : $necobase-color-border;

// ------------------------------------------------------
// 背景色
//

// 通常背景色
$sb-color-bg      : $necobase-color-bg;
// 網掛けエリア色
$sb-color-bg-shade: $necobase-color-bg-shade;
