@charset "UTF-8";

// ======================================================
// 基本スタイル
// ------------------------------------------------------
// - 各 HTML タグに対するスタイルを記述する。
// - ウェブサイト全体を通して各タグに対する「基本的にあるべき」見ためを表現するようにする。
// ------------------------------------------------------

* {
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: border-box;
}

html {
  color: $necobase-color-text;
  background-color: $necobase-color-bg;
  font-size: $necobase-font-size;
  line-height: 1.618;
  font-family: $necobase-font-family;
  word-wrap: break-word;
  -webkit-tap-highlight-color: $necobase-color-link-tap;
}

body {
}

a {
  color: $necobase-color-link-link;

  &:hover,
  &:focus {
    color: $necobase-color-link-hover;
  }

  &:active {
    color: $necobase-color-link-active;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $necobase-color-border;
}

table {
}

th {
  text-align: left;
}

em {
  font-weight: bold;
  font-style: normal;
}

strong {
  color: $necobase-color-emphasis;
}

small {
}

mark {
  background: transparent;
  color: inherit;
}

label {
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

::selection {
  color: $necomesi-color-selection-text;
  background: $necomesi-color-selection-bg;
}
