@charset "UTF-8";

// --------------------------------------------------------------------------
// 汎用クラス
//

// ---------------------------------------------
// 要素を画面上から見えなくするクラス
//

.nm-x-hidden {
	@include nm-hidden();
}

// ---------------------------------------------
// マージン調整クラス
//

@each $direction in (top right bottom left) {
	@each $int in (-30 -20 -15 -10 -5 -3 -2 -1 0 1 2 3 5 10 15 20 30 40 50 75 100) {
		$negative: $int < 0;
		$d: str_slice($direction, 1, 1);
		.nm-x-m#{$d}#{if($negative, n, null)}#{if($negative, $int * -1, $int)} {
			margin-#{$direction}: $int * 1px !important;
		}
	}
}

// ---------------------------------------------
// text-align 調整クラス
//

.nm-x-left   { text-align: left !important; }
.nm-x-center { text-align: center !important; }
.nm-x-right  { text-align: right !important; }

// ---------------------------------------------
// vertical-align 調整クラス
//

.nm-x-top      { vertical-align: top    !important; }
.nm-x-middle   { vertical-align: middle !important; }
.nm-x-bottom   { vertical-align: bottom !important; }

@each $int in (-10 -5 -3 -2 -1 0 1 2 3 5 10) {
	$negative: $int < 0;
	.nm-x-va#{if($negative, n, null)}#{if($negative, $int * -1, $int)} {
		vertical-align: $int * 1px !important;
	}
}

// ---------------------------------------------
// 幅調整クラス
//

.nm-x-wauto  { width: auto  !important; }
.nm-x-w100   { width: 100px !important; }
.nm-x-w200   { width: 200px !important; }
.nm-x-w300   { width: 300px !important; }
.nm-x-w400   { width: 400px !important; }
.nm-x-w500   { width: 500px !important; }
