@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - select
//

.necobase-ss-form-select {
	margin: 0px 10px 0 0;
	padding: 0.5em;
	border: 1px solid $necobase-color-border;
	border-radius: 3px;
}
