@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - form-errorMsg
//

.necobase-ss-form-error-message {
	display: inline-block;
	margin: 0 0 0.3em 0;
	color: $necobase-color-danger;

	+ * {
		margin-top: 0;
	}
}
