@charset "UTF-8";

// ------------------------------------------------------
// Block - name
//

.necobase-ss-form-name {
	margin: 0;

	> dt {
		display: inline-block;
		width: 2em;
		margin: 0 5px 0 0;
		font-weight: normal;
	}

	> dd {
		display: inline;
		margin: 0 10px 0 0;

		.necobase-ss-form-text {
			width: 15em;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.necobase-ss-form-name--no-label {
	> dt {
		display: none;
	}
}

.necobase-ss-form-name__first {
}

.necobase-ss-form-name__last {
}
