@charset "UTF-8";

// ------------------------------------------------------
// Block - form
//

.necobase-ss-form {
}

.necobase-ss-form__table {

	> table > tbody > tr {

		&.necobase-x-error {
			color: darken($necobase-color-danger, 30%);
			background-color: lighten($necobase-color-danger, 30%);
		}
	}
}

.necobase-ss-form__required {
	margin-left: 10px;
	padding: 3px 5px;
	border: 1px solid $necobase-color-border;
	background-color: $necobase-color-bg-shade;
	font-size: iroha-em-size(14px);
	line-height: 1.1;
}

.necobase-ss-form__note {
	margin-top: 0.5em;
	font-size: iroha-em-size(14px);
}

.necobase-ss-form__error-message {
	display: inline-block;
	position: relative;
	padding: 5px 10px;
	color: #fff;
	background-color: $necobase-color-danger;
	font-size: iroha-em-size(12px);
	line-height: 1.4;

	&:after {
		content: "";
		position: absolute;
		top: 95%;
		left: 16px;
		width: 0;
		height: 0;
		margin-left: -6px;
		border: 10px solid transparent;
		border-top-color: $necobase-color-danger;
	}
}

.necobase-ss-form__name {
	display: table;
	width: 100%;
	margin: 1em 0 0;

	> dt,
	> dd {
		display: table-cell;
	}

	> dt {
		width: 3em;
		text-align: right;
	}

	> dd {
		padding-left: 1em;
	}
}
