@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - textarea
//

.necobase-ss-form-textarea {
	@include iroha-placeholder() {
		color: $necobase-color-text-sub;
	};
	padding: 0.5em;
	width: 100%;
	height: 100px;
	min-height: 100px;
	border-radius: 3px;
	border: 1px solid $necobase-color-border;
	background-color: #fff;
	vertical-align: top;
	resize: none;

	&:focus {
		outline: none;
	}

	&:disabled {
		color: $necobase-color-text-sub;
		background-color: #f6f6f6;
	}

	// IE8
	&[disabled] {
		color: $necobase-color-text-sub;
		background-color: #f6f6f6;
	}

	&[readonly] {
	}

	&[cols] {
		width: auto;
	}
	&[rows] {
		height: auto;
	}
}
