@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - grid
//

@include necobase-ss-grid();

.necobase-ss-grid {
}

.necobase-ss-grid__unit {

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.necobase-ss-grid--no-gutter {
	margin: 0;

	.necobase-ss-grid__unit {
		padding: 0;
	}
}

// ----------------------------------
// デバイス幅に応じたスタイル
//

@include necobase-mq-compact {

	.necobase-ss-grid--break-on-sp {

		.necobase-ss-grid__unit {
			display: block;
			width: 100%;
		}
	}
}
