@charset "UTF-8";

// ------------------------------------------------------
// Block - h1
//

.necobase-ss-h1 {
	margin: 5em 0 1em;
}

.necobase-ss-h1__heading {
	margin: 0;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.1;
}
