@charset "UTF-8";

// ------------------------------------------------------
// Block - h2
//

.necobase-ss-h2 {
	margin: 3em 0 1em;
}

.necobase-ss-h2__heading {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.2;
}
