@charset "UTF-8";

// --------------------------------------------------------------------------
// Standard block - h3
//

.necobase-ss-h3 {
	margin: 2em 0 1em;
}

.necobase-ss-h3__heading {
	margin: 0;
	padding: 0 0 0 12px;
	border-left: 6px solid $necobase-color-border;
	font-size: 1.17em;
	line-height: 1.3;
}
