@charset "UTF-8";

// ------------------------------------------------------
// Block - linkList
//

.necobase-ss-link-list {
	@extend %sb-nestableList;
	margin: 1em 0;
	padding: 0 0 0 1em;

	> li {
		margin: 0.5em 0;
		list-style: none;
		text-indent: -1em;

		> a {
			padding-left: 1em;

			&:before {
				content: "";
				display: inline-block;
				width: 0;
				height: 0;
				border-width: 0.25em 0 0.25em 0.25em;
				border-style: solid;
				border-color: transparent $necobase-color-link-link;
				margin: 0 0.75em 0 -1em;
				vertical-align: 0.125em;
			}

			&:hover {

				&:before {
					border-color: transparent $necobase-color-link-hover;
				}
			}
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
