@charset "UTF-8";

// ------------------------------------------------------
// Block - ul
//

.necobase-ss-ul {
	@extend %sb-nestableList;
	margin: 1em 0 0;
	padding: 0 0 0 1em;

	> li {
		margin: 0.5em 0 0;
		list-style: none;

		&:before {
			content: "";
			display: inline-block;
			width: 0.25em;
			height: 0.25em;
			margin: 0 0.75em 0 -1em;
			background-color: $necobase-color-text;
			vertical-align: 0.25em;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}
