@charset "UTF-8";

/* ------------------------------------------------------
 * Block - footer
 */

#necobase-footer {
	padding: 30px 0;
	background-color: #ddd;
}

.necobase-frame__body {
}

.necobase-footer__copyright {
	margin: 0;
	text-align: right;
}
