@charset "UTF-8";

/* ------------------------------------------------------
 * Block - frame
 */

.necobase-frame {
}

.necobase-frame__body {
	max-width: $necobase-frame-width + 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}
