@charset "UTF-8";

/* --------------------------------------------------------------------------
 * Block - frame
 */

.necobase-frame {
	min-width: $necobase-frame-width + 20px;
}

.necobase-frame__body {
	@include iroha-clearfix();
	width: $necobase-frame-width + 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}
